<!-- <div class="text-layout">
  <h1>{{ nombre | titlecase }}</h1>
</div>
<button 
    pButton 
    (click)="mostrarNombre()" 
    label="Cambiar nombre"
    icon="pi pi-check"
    iconPos="right"
    class="p-button-help"></button>
    
<p-card 
    [style]="{'width': '25rem', 'margin-bottom': '2em'}"
    [header]="nombre | titlecase"
    subheader="Subheader">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae vitae recusandae deleniti necessitatibus atque voluptate distinctio error expedita. Iste animi magnam hic voluptas quia maxime nulla perferendis perspiciatis, id eveniet.
</p-card> -->


<app-menu></app-menu>

<router-outlet></router-outlet>